<h1>Recipes</h1>
<ul>
<% @recipe_array.each do |recipe| %>
<li><%= link_to recipe['title'], recipe['href'], target: :_blank %></li>
  <ul>
    <li><%= recipe['ingredients'] %></li>
  </ul>
  <center><%= button_to 'Add to my Favorites', recipes_path, method: :post, params: { name: recipe['title'], user_id: current_user.id, href: recipe['href'] }
 %></center>
<% end %>
</ul>


<%= link_to 'Back to my Fridge', users_path %>
