<h1><%= @user.username %>'s Profile Page</h1>

<% if flash[:notice] %>
<h3><i>Error: <%= flash[:notice] %></i></h3>
<% end %>

<h3>Favorite Recipes</h3>
<% @recipes.each do |recipe| %>
<%= recipe.name %>
<% end %>
