/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ~~~~~~~ LANDING PAGE START ~~~~~~~ */
.landing-container {
 background-size: cover;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.landing-banner {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #ffffff99;
 border-radius: 0.5em;
 padding: 3em;
}

.login-signup-buttons {
 display: flex;
 width: 50vw;
 justify-content: space-around;
 margin-top: 2em;
}
/* ~~~~~~~ LANDING PAGE END ~~~~~~~ */


body {
  background: url('background1.jpg') no-repeat;
  background-size: cover;
}

body,html {
  height: 100%;
}
