<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angel's Food</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
    width: 193.5%;
    margin-left: -50%;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  </style>
</head>
<!-- Container (Contact Section) -->
<div class="container-fluid bg-grey">
  <h2 class="text-left">ABOUT</h2>
  <div class="row-4 text-center">
    <div class="text-center col-sm-5">
      <h3>This Angelic App was made by:
        <br> Robert Han and Eric Hardiman</h3>
      <br>
      <p><span class="glyphicon glyphicon-cloud"></span> Food Angel wants to put the life back into those leftovers. So go ahead. <br>Send our cherubs your fridge.</p>
    </div>
  </div>
</div>
