<div class="landing-container">
  <div class="landing-banner">
    <h1>Food Angel</h1>
    <div class="login-signup-buttons">
      <%= link_to "Login", login_path, class: "btn btn-primary" %>
      <%= link_to "Create New Account", new_user_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>









<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
